absl-py==2.5.0
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.9
dataclasses==0.6
dm-env==1.6
dm-tree==0.1.10
dm_control==1.0.43
docstring_parser==0.18.0
etils==1.13.0
fsspec==2026.6.0
glfw==2.10.0
idna==3.18
importlib_resources==7.1.0
labmaze==1.0.6
lxml==6.1.1
mujoco==3.10.0
numpy==2.2.6
pathlib==1.0.1
protobuf==7.35.1
PyOpenGL==3.1.10
pyparsing==3.3.2
pyserial==3.5
pyzmq==27.1.0
requests==2.34.2
scipy==1.15.3
tqdm==4.68.4
typeguard==4.5.2
typing_extensions==4.16.0
tyro==1.0.15
urllib3==2.7.0
wrapt==2.2.2
zipp==4.1.0
zmq==0.0.0
pin